@import url('https://fonts.cdnfonts.com/css/seven-segment');


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(254, 255, 245);
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  position: relative;
  font-family: 'Seven Segment', sans-serif;
}
